.leaflet-pane .tooltip-custom-style-test {
  color           : #ffffff;
  background-color: #ff00ff;
}
.popup-custom-style-test .leaflet-popup-tip,
.popup-custom-style-test .leaflet-popup-content-wrapper {
  color           : #ffffff;
  background-color: #ff00ff;
}